textarea{
		margin:0;
		padding:0;
}

section{
		margin-bottom:20px;
}

#text1{
	  position:absolute; width:270px; height:140px;
	  font-size: 130px;
	        top:5px;
		left:390px;
		font-family: UD Digi Kyokasho NP-B;
		line-height:100%;
	  overflow:hidden;
}

a{
  text-decoration: none;
}

