textarea{
		margin:0;
		padding:0;
}

section{
		margin-bottom:20px;
}

#text1{
	  position:absolute; width:430px; height:140px;
	  font-size: 130px;
		top:30px;
		left:50px;
		font-family: UD Digi Kyokasho NP-B;
		line-height:100%;
}

div{
  display: block;
}

a{
  text-decoration: none;
}

