body{
        background-color: #c1efff;
}

textarea{
	margin:0;
	padding:0;
}

section{
	margin-bottom:20px;
}

#text1{
	position:absolute; width:600px; height:110px;
	font-size: 106px;
        top:18px;
        left:380px;
	font-family: UD Digi Kyokasho NP-B;
	line-height:100%;
	overflow:hidden;
}

a{
        text-decoration: none;
}

